VITE_SUPABASE_URL=https://vvwhhcndctsumamtqhsz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ2d2hoY25kY3RzdW1hbXRxaHN6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU2Mjg1NTQsImV4cCI6MjEwMTIwNDU1NH0.6ZLvve7PKPoEUXFJ9ek_lVIBRveRSZtSepdV3rC08qQ
